

<div class="pricing bottommargin clearfix">
    <div class="col-sm-6">

        <div class="pricing-box">
            <div class="pricing-title">
                <h3>{{ trans('messages.module_one') }}</h3>
            </div>
            <div class="pricing-price">
                <span class="price-unit">u$d</span>50
            </div>
            <div class="pricing-features">
                <ul>
                    <li>4 Videos de 4 Cursos Introductorios</li>
                    <li></li>
                    <li><b>Adquiriendo este Módulo, puede abonar u$d 50 extra para el Módulo 2.</b></li>
                    <li><b>El Módulo 2 incluye 4 Videos de Nivel Avanzado.</b></li>
                </ul>
            </div>
            <div class="pricing-action">
                {% if Auth.user() is null  %}
                <a href="{{ l10n_url_by_route('signup') }}/signup" class="btn btn-danger btn-block btn-sm">{{ trans('messages.get_course') }}</a>
                {% else %}
                    <a href="/checkout/plan/1" class="btn btn-danger btn-block btn-sm">{{ trans('messages.get_course') }}</a>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="col-sm-6">

        <div class="pricing-box best-price">
            <div class="pricing-title">
                <h3>{{ trans('messages.seminary') }}</h3>
                <span>Mas popular</span>
            </div>
            <div class="pricing-price">
                <span class="price-unit">u$d</span>100
            </div>
            <div class="pricing-features">
                <ul>
                    <li>4 Videos de 4 Cursos Introductorios</li>
                    <li>+ 4 Videos de 4 Cursos Nivel Avanzado</li>
                    <li>+ 1 Seminario de Psicotango Presencial</li>
                    <li><i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i></li>
                </ul>
            </div>
            <div class="pricing-action">
                {% if Auth.user() is null  %}
                    <a href="{{ l10n_url_by_route('signup') }}/signup" class="btn btn-danger btn-block btn-sm bgcolor border-color">{{ trans('messages.get_course') }}</a>
                {% else %}
                    <a href="/checkout/plan/3" class="btn btn-danger btn-block btn-sm">{{ trans('messages.get_course') }}</a>
                {% endif %}
            </div>
        </div>

    </div>


</div>