<div class="widget widget-tags">
    <hr class="mBtm-50 mTop-30" data-symbol="QUE BUSCAN MAS?">
    <ul class="tags">
        <li>
            <a href="/tags/{{ 'restaurants' | url_encode }}" class="tag">
                Restaurants
            </a>
        </li>
        <li>
            <a href="/tags/{{ 'clases' | url_encode }}" class="tag">
                Clases
            </a>
        </li>
        <li>
            <a href="/tags/{{ 'profesores' | url_encode }}" class="tag">
                Profesores
            </a>
        </li>
        <li>
            <a href="/tags/{{ 'eventos' | url_encode }}" class="tag">
                Eventos
            </a>
        </li>
        <li>
            <a href="/tags/{{ 'talleres' | url_encode }}" class="tag">
                Talleres
            </a>
        </li>
        <li>
            <a href="{{ 'seminarios' | url_encode }}" class="tag">
                Seminarios
            </a>
        </li>
        <li>
            <a href="/tags/{{ 'viajes' | url_encode }}" class="tag">
                Viajes
            </a>
        </li>
        <li>
            <a href="/tags/{{ 'la city' | url_encode }}" class="tag">
                La City
            </a>
        </li>
    </ul>
</div>