{% block page_title %}Home{% endblock %}
{% extends 'layout/auth_base.twig' %}
{% block title %}Club Cultural{% endblock %}

{% block header %}
    {{ include('/layout/_top_bar_auth.twig') }}
{% endblock %}

{% block content %}
    <div class="site-wrapper _animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <section id="page" class="container mTop-30 mBtm-50">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel-body frameLR bg-white shadow space-sm">
                        <form method="POST" action="{{ url('/login') }}">
                            {{ csrf_field() }}
                            <div class="col-xs-12 col-md-6 col-md-offset-3">
                                <h3 class="dark-grey text-center">
                                    Iniciar Sesión
                                </h3>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <a href="/redirect/facebook" class="btn btn-primary btn-raised btn-block ripple-effect" style="background-color: #3b5998">
                                            <i class="fa fa-facebook" aria-hidden="true"></i> FACEBOOK
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <a href="/redirect/twitter" class="btn btn-primary btn-raised btn-block ripple-effect" style="background-color: #1da1f2">
                                            <i class="fa fa-twitter" aria-hidden="true"></i> TWITTER
                                        </a>
                                    </div>
                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div style="text-align: center"><h5>O INICIA SESION CON</h5></div>
                                    </div>
                                </div>

                                <div class="form-group {{ errors.has('email') ? ' has-error' : '' }}">
                                    <label>Email</label>
                                    <input type="text" name="email" class="form-control" id="" value="{{ old('email') }}">
                                    {% if errors.has('email') is not empty %}
                                        <span class="help-block">{{ errors.first('email') }}</span>
                                    {% endif %}
                                </div>

                                <div class="form-group {{ errors.has('password') ? ' has-error' : '' }}">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" id="" value="">
                                    {% if errors.has('password') %}
                                        <span class="help-block">{{ errors.first('password') }}</span>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <label>
                                        <a href="{{ url('/password/reset') }}">
                                            ¿Te olvidaste tu contraseña?
                                        </a>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>
                                        ¿Necesitas una cuenta? <small><a href="/signup">Subscribite</a></small>
                                    </label>
                                </div>

                                <button type="submit" class="btn btn-primary btn-raised btn-block ripple-effect">
                                    Iniciar Sesión
                                </button>
                            </div>
                        </form>

                    </div>
                    <!-- /inner wrap -->
                </div>
            </div>

        </section>
    </div>
{% endblock %}