{% block page_title %}Home{% endblock %}
{% extends 'layout/auth_base.twig' %}
{% block title %}Psicotango{% endblock %}

{% block h1 %}PSICOTANGO{% endblock %}
{% block h2 %}{% endblock %}

{% block breadcrum %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">View Lesson</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="fancy-title title-bottom-border">
        <h1 id="lesson-title">...</h1>
    </div>

    <div id="player" class="player" style="height: 450px; width: 100%;" data-lesson_id="{{ lesson_id }}">Loading...</div>

    <div class="row topmargin">
        <div class="col-xs-6 text-left"><a href="{{ l10n_url_by_route('view-lesson') }}/view-lesson/" id="previous"><< Previous</a></div>
        <div class="col-xs-6 text-right"><a href="{{ l10n_url_by_route('view-lesson') }}/view-lesson/" id="next">Next >></a></div>
    </div>

    {% if logged_user.plan_id is null or logged_user.plan_id == 1 or logged_user.plan_id == 2 %}
        <div class="promo promo-dark bottommargin topmargin">
            <h3>{{ trans('messages.interested_in_upgrade') }}</h3>
            <a href="{{ l10n_url_by_route('upgrade') }}/upgrade" class="button button-xlarge button-rounded">{{ trans('messages.upgrade') }}</a>
        </div>
    {% endif %}

    <script type="application/javascript">
        $(window).load(function(){
            psicotango.viewLessonInit();
        });
    </script>
{% endblock %}