<!-- Modal -->
<div class="modal1 mfp-hide" id="promotional">
    <div class="block divcenter col-xs-12 col-sm-5" style="background-color: #FFF;">
        <div class="ajax-modal-title">
            <h2>{{ trans('messages.promotional') | raw }}</h2>
        </div>

        <div class="feature-box fbox-center fbox-effect nobottomborder nobottommargin" style="padding: 40px;">

            <div class="heading-block bottommargin-sm center clearfix">
                <h1>{{ trans('messages.prices_title') | raw }}</h1>
                <br/>
                <h4>Adquirí el Curso y el Libro de Psicotango, Danza como Terapia.</h4>
                <br/>
                <h5>
                    Inscribite en <a href="www.psicotango.com.ar">www.psicotango.com.ar</a> y podrás capacitarte a nivel introductorio o avanzado del método, desde cualquier parte del mundo y a tus tiempos!

                    <br>En nuestros ocho videos de 20 minutos cada uno, aproximadamente, encontrarás teoría y práctica de la danza del tango como herramienta sanadora.

                    <br>Desarrollamos temáticas como el abrazo, la mirada, el ritual, el individuo, la pareja, el grupo y tangoterapia.

                    <br>Los ocho videos incluyen el acceso a un Seminario presencial en Buenos Aires en cualquier momento del 2019, sumando horas cátedra para tu formación.

                    <br>Entregamos Certificado avalado por Asociación ProTango.
                </h5>
            </div>

            {{ include('prices') }}

            <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
                <iframe src="https://www.youtube.com/embed/5OZBgHWRO5A" frameborder="0" allowfullscreen="" id="5OZBgHWRO5A"></iframe>
            </div>

        </div>
        <div class="section center nomargin" style="padding: 30px;">
            <a href="{{ l10n_url_by_route('signup') }}/signup" class="button">{{ trans('messages.get_your_course_now') | raw }}</a>
        </div>
    </div>
</div>