<!-- Footer
		============================================= -->
<footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_one_fourth">
                Copyrights &copy; 2018 {{ trans('messages.all_rights') }}
                <br>
                {{ trans('messages.developed_by') }} Verónica Nisenbaum
            </div>

            <div class="col_three_fourth col_last tright">
                <div class="copyrights-menu copyright-links fright clearfix">
                    <a href="/">Home</a>/
                    <a href="#section-psicotango">Psicotango</a>/
                    <a href="#section-team">{{ trans('messages.teachers') }}</a>/
                    <a href="#section-books">{{ trans('messages.books') }}</a>/
                    <a href="#section-cursos">{{ trans('messages.online_courses') }}</a>/
                    <a href="#section-prices">{{ trans('messages.prices') }}</a>
                    <a href="#section-contact">{{ trans('messages.contactus') }}</a>
                </div>
                <div class="fright clearfix">
                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-pinterest">
                        <i class="icon-pinterest"></i>
                        <i class="icon-pinterest"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-vimeo">
                        <i class="icon-vimeo"></i>
                        <i class="icon-vimeo"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-github">
                        <i class="icon-github"></i>
                        <i class="icon-github"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-yahoo">
                        <i class="icon-yahoo"></i>
                        <i class="icon-yahoo"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->