<!-- Footer
		============================================= -->
<footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2018 {{ trans('messages.all_rights') }}
                <br>
                {{ trans('messages.developed_by') }} Verónica Nisenbaum
            </div>

            <div class="col_half col_last tright">
                <div class="copyrights-menu copyright-links fright clearfix">
                    <a href="/">Home</a>/
                    <a href="/#section-psicotango">Psicotango</a>/
                    <a href="/#section-team">{{ trans('messages.teachers') }}</a>/
                    <a href="/#section-books">{{ trans('messages.books') }}</a>/
                    <a href="/#section-gallery">{{ trans('messages.gallery') }}</a>/
                    {#<a href="#section-cursos">{{ trans('messages.online_courses') }}</a>/
                    <a href="#section-prices">{{ trans('messages.prices') }}</a>/#}
                    <a href="/#section-contact">{{ trans('messages.contactus') }}</a>
                </div>
                <div class="clear"></div>
                <div class="fright clearfix">
                    <a href="https://www.facebook.com/psicotango.danzacomoterapia" class="social-icon si-large nobottommargin si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCyOzpOzP3XZuGu9rvcDF2aA" class="social-icon si-large nobottommargin si-youtube">
                        <i class="icon-youtube"></i>
                        <i class="icon-youtube"></i>
                    </a>
                </div>
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->