<!-- Header
		============================================= -->
<header id="header" class="transparent-header floating-header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo" class="top-links">
                <a href="/" class="standard-logo hidden-xs" data-dark-logo="images/logo_transparent.png"><img src="/images/logo_transparent.png" alt="Psicotango"></a>
                <ul class="visible-xs sf-js-enabled clearfix" style="touch-action: pan-y; padding-top: 25px">
                    <li class=""><a href="#" class="sf-with-ul">{{ trans('messages.language') }}</a>
                        <ul style="display: none;">
                            <li><a href="{{ l10n_url('es') }}">{{ trans('messages.spanish') }}</a></li>
                            <li><a href="{{ l10n_url('en') }}">{{ trans('messages.english') }}</a></li>
                            {#<li><a href="#">Italiano</a></li>
                            <li><a href="#">Frances</a></li>#}
                        </ul>
                    </li>
                </ul>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="style-3">

                <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                    <li class="button button-rounded button-red button-large visible-xs" style="margin-bottom: 10px !important"><a href="{{ l10n_url_by_route('login') }}/login">{{ trans('messages.login') }}</a></li>
                    <li class="button button-rounded button-black button-large visible-xs" style="margin-bottom: 20px !important"><a href="{{ l10n_url_by_route('signup') }}/signup" >{{ trans('messages.signup') }}</a></li>
                    <li class="current"><a href="/"><div>{{ trans('messages.home') }}</div></a></li>
                    <li><a href="#" data-href="#section-psicotango"><div>Psicotango</div></a></li>
                    <li><a href="#" data-href="#section-team"><div>{{ trans('messages.teachers') }}</div></a></li>
                    <li><a href="#" data-href="#section-books"><div>{{ trans('messages.books') }}</div></a></li>
                    <li><a href="#" data-href="#section-gallery"><div>{{ trans('messages.gallery') }}</div></a></li>
                    {#<li><a href="#" data-href="#section-cursos"><div>{{ trans('messages.online_courses') }}</div></a></li>
                    <li><a href="#" data-href="#section-prices"><div>{{ trans('messages.prices') }}</div></a></li>#}
                    <li><a href="#" data-href="#section-testimonials"><div>{{ trans('messages.testimonials') }}</div></a></li>
                    <li><a href="#" data-href="#section-contact"><div>{{ trans('messages.contactus') }}</div></a></li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->