<!DOCTYPE html>
<html lang="en" style="height:auto;">

{% block head %}
    <head>
        <title>{% block title %}Psicotango | Un Abrazo Sanador{% endblock %}</title>

        <!-- These 3 MUST come first for Bootstrap to work. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ff0000">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <!-- Stylesheets
	============================================= -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/css/vendor.css" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/images/favicon.png">
        <link rel="apple-touch-icon" href="#">
        <link rel="apple-touch-icon" sizes="72x72" href="#">
        <link rel="apple-touch-icon" sizes="114x114" href="#">

        <script>
            window.Laravel = { 'csrfToken': '{{ csrf_token() }}', 'api_token': '{{ Auth.user().api_token }}', 'lang': '{{ LaravelLocalization.getCurrentLocale() }}' };
            window.baseURL = '{{ url('/') }}';
        </script>
    </head>
{% endblock %}

<body class="stretched">
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="application clearfix">

        <nav class="navbar navbar-inverse nobottommargin" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav nobottommargin">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ trans('messages.language') }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ l10n_url('es') }}"><img src="/images/flags/argentina.png" style="width: 16px"> {{ trans('messages.spanish') }}</a></li>
                                <li><a href="{{ l10n_url('en') }}"><img src="/images/flags/usa.png" style="width: 16px"> {{ trans('messages.english') }}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right nobottommargin">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ Auth.user().name }} {{ Auth.user().last_name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ l10n_url_by_route('profile') }}/profile"><i class="icon-user"></i> Profile</a></li>
                                <li><a href="{{ l10n_url_by_route('settings') }}/settings"><i class="icon-cogs"></i> Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ l10n_url_by_route('logout') }}/logout"><i class="icon-signout"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="clear"></div>

        <section id="page-title" class="page-title-center">
            <div class="container clearfix">
                <h1>{% block h1 %}{% endblock %}</h1>
                <span>{% block h2 %}{% endblock %}</span>
                {% block breadcrum %}{% endblock %}
            </div>
        </section>

        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="col-xs-12 col-sm-9">
                    <div class="container-fullwidth clearfix">
                        {% if Session.get('success') %}
                            <div class="style-msg successmsg">
                                <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>Yay!</strong> {{ Session.get('success') }}</div>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        {% endif %}

                        {% if Session.get('error') %}
                            <div class="style-msg errormsg">
                                <div class="sb-msg"><i class="icon-remove"></i><strong>Oh snap!</strong> {{ Session.get('error') }}</div>
                            </div>
                        {% endif %}

                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="container-fullwidth2 clearfix">
                        <featured-books></featured-books>
                        <testimonials></testimonials>
                    </div>
                </div>
            </div>
        </section><!-- #content end -->

        <div class="clear"></div>

        {{ include('layout/_footer', {}) }}

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/vendor.js"></script>
</body>

</html>

