<!DOCTYPE html>
<html lang="en" style="height:auto;">

{% block head %}
<head>
    <title>{% block title %}Psicotango | Un Abrazo Sanador{% endblock %}</title>

    <!-- These 3 MUST come first for Bootstrap to work. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ff0000">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <!-- Stylesheets
	============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/vendor.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />



    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="#">
    <link rel="apple-touch-icon" sizes="72x72" href="#">
    <link rel="apple-touch-icon" sizes="114x114" href="#">

    <script>
        window.Laravel = { 'csrfToken': '{{ csrf_token() }}'};
        window.baseURL = '{{ url('/') }}';
    </script>
</head>
{% endblock %}

<body class="sticky-footer stretched">

<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">

    <div id="home" class="page-section" style="position:absolute;top:0;left:0;width:100%;height:200px;z-index:-2;"></div>

    <div id="top-bar" class="transparent-topbar hidden-xs">

        <div class="container clearfix">

            <div class="col_half nobottommargin clearfix">

                <!-- Top Links
                ============================================= -->
                <div class="top-links">
                    <ul class="sf-js-enabled clearfix" style="touch-action: pan-y;">
                        <li class=""><a href="#" class="sf-with-ul">{{ trans('messages.language') }}</a>
                            <ul style="display: none;">
                                <li><a href="{{ l10n_url('es') }}">{{ trans('messages.spanish') }}</a></li>
                                <li><a href="{{ l10n_url('en') }}">{{ trans('messages.english') }}</a></li>
                                {#<li><a href="#">Italiano</a></li>
                                <li><a href="#">Frances</a></li>#}
                            </ul>
                        </li>
                    </ul>
                </div><!-- .top-links end -->

            </div>

            <div class="col_half fright col_last clearfix nobottommargin">

                <!-- Top Links
                ============================================= -->
                <div class="top-links">
                    <ul class="sf-js-enabled clearfix" style="touch-action: pan-y;">
                        <li class="button button-rounded button-red"><a href="{{ l10n_url_by_route('login') }}/login" class="sf-with-ul">{{ trans('messages.login') }}</a></li>
                        <li class="button button-rounded button-black"><a href="{{ l10n_url_by_route('signup') }}/signup" >{{ trans('messages.signup') }}</a></li>
                    </ul>
                </div><!-- .top-links end -->

            </div>

        </div>

    </div>

    {{ include('layout/_header', {}) }}

    <section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix dark">

        <div class="slider-parallax-inner">

            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide dark" style="background-image: url('images/fondo_landingpage.jpg');">
                        <div class="container clearfix">
                            <div class="slider-caption slider-caption-center">
                                <img class="img-responsive image_fade bottommargin-lg center-block" src="images/psicotango_title.png">
                                <p data-caption-animate="fadeInUp" data-caption-delay="200">
                                    {{ trans('messages.tango_description') }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <div class="clear"></div>




    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <section id="section-psicotango" class="page-section">
                <div class="container clearfix">

                    <div class="heading-block center">
                        <h1>PSICO<span>TANGO</span></h1>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <img src="images/men_shoes.jpg" alt="Men Shoes" class="animated bounceInLeft" data-animate="bounceInLeft">
                    </div>

                    <div class="col-xs-12 col-sm-9">
                        <h4 class="center">
                            {{ trans('messages.psicotango_description') }}
                        </h4>

                        <h4 class="center">
                            {{ trans('messages.psicotango_description1') }}
                        </h4>

                        <h4 class="center">
                            {{ trans('messages.psicotango_description2') }}
                        </h4>
                    </div>
                </div>

            </section>


            <section id="section-team" class="page-section topmargin-lg">
                <div class="container clearfix">
                    <div class="heading-block center">
                        <h1 class='caption'>{{ trans('messages.teachers') }}</h1>
                    </div>

                    <div class="col-md-6 bottommargin">

                        <div class="team team-list clearfix">
                            <div class="team-image">
                                <img src="images/monica_peri_profile.jpg" alt="Monica Peri" class="animated bounceInLeft" data-animate="bounceInLeft">
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>Monica Peri</h4><span>{{ trans('messages.psychologist_women') }}</span></div>
                                <div class="team-content">
                                    {{ trans('messages.monica_peri_description') }}
                                </div>
                                <a href="https://www.facebook.com/perimonica" class="social-icon si-rounded si-small si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 bottommargin">

                        <div class="team team-list clearfix">
                            <div class="team-image">
                                <img src="images/ignacioLavalleProfile.jpg" alt="Ignacio Lavalle" class="animated bounceInRight" data-animate="bounceInRight">
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>Ignacio Lavalle</h4><span>{{ trans('messages.psychologist_men') }}</span></div>
                                <div class="team-content">
                                    {{ trans('messages.ignacio_lavalle_description') }}
                                </div>
                                <a href="https://www.facebook.com/perimonica" class="social-icon si-rounded si-small si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section id="section-books" class="page-section topmargin-lg">
                <div class="container clearfix">
                    <div class="heading-block center">
                        <h1>{{ trans('messages.published_books') | raw }}</h1>
                    </div>

                    <div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-masonry clearfix">

                        <div class="portfolio-item">
                            <div class="book-wrap">
                                <div class="book-card">
                                    <img src="images/libroTangoDanzaInterior.png" alt="Tango, una danza interior">
                                    <div class="book-detail">
                                        <h2 class="book-title"><a href="#">Tango, una danza interior</a></h2>
                                        <small class="book-category"><a href="#">03 Jun, 2016</a></small>
                                        <!--<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>Quick View</span></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="book-wrap">
                                <div class="book-card">
                                    <img src="images/libroTangoDanzaTerapia.png" alt="Psicotango, danza como terapia">
                                    <div class="book-detail">
                                        <h2 class="book-title"><a href="#">Psicotango, danza como terapia</a></h2>
                                        <small class="book-category"><a href="#">11 Mar, 2016</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="book-wrap">
                                <div class="book-card">
                                    <img src="images/libroTangoUnAbrazoSanador1.png" alt="Tango, un abrazo sanador">
                                    <div class="book-detail">
                                        <h2 class="book-title"><a href="#">Tango, un abrazo sanador</a></h2>
                                        <small class="book-category"><a href="#">31 Jan, 2016</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section id="section-cursos" class="page-section topmargin-lg">
                <div class="container clearfix">
                    <div class="heading-block center">
                        <h1>{{ trans('messages.online_courses_title') | raw }}</h1>
                        <p>(Nota: Aca iria el video que me paso Nacho de ustedes hablando de que se trata el curso)</p>
                    </div>

                    <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
                        <iframe src="https://www.youtube.com/embed/GHHPMKpDNtA" frameborder="0" allowfullscreen="" id="GHHPMKpDNtA"></iframe>
                    </div>
                </div>
            </section>


            <section id="section-prices" class="page-section topmargin-lg">
                <!-- Price Page Section - Parallax
				============================================= -->
                <div class="heading-block bottommargin-sm center clearfix">
                    <h1>{{ trans('messages.prices_title') | raw }}</h1>
                </div>

                <!-- Price Items
                ============================================= -->
                <div class="col-padding clearfix">
                    <div class="pricing bottommargin clearfix">
                        <div class="col-sm-4">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>{{ trans('messages.module_one') }}</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">u$d</span>50
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li>4 Videos de 4 Cursos Introductorios</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/register" class="btn btn-danger btn-block btn-sm">{{ trans('messages.get_course') }}</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="pricing-box best-price">
                                <div class="pricing-title">
                                    <h3>{{ trans('messages.module_two') }}</h3>
                                    <span>Mas popular</span>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">u$d</span>80
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li>4 Videos de 4 Cursos Introductorios</li>
                                        <li>+ 4 Videos de 4 Cursos Nivel Avanzado</li>
                                        <li><i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/register" class="btn btn-danger btn-block btn-sm bgcolor border-color">{{ trans('messages.get_course') }}</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>{{ trans('messages.seminary') }}</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">u$d</span>100
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li>4 Videos de 4 Cursos Introductorios</li>
                                        <li>+ 4 Videos de 4 Cursos Nivel Avanzado</li>
                                        <li>+ 2 videos de un Seminario de Psicotango</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/register" class="btn btn-danger btn-block btn-sm">{{ trans('messages.get_course') }}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>


            <section id="section-testimonials" class="section page-section parallax nobottompadding dark clearfix"
                     style="background-image: url('images/uritorco_background.jpg');
                 background-size: cover;" data-stellar-background-ratio="0.8">
                <div class="container clearfix">

                    <div class="heading-block bottommargin-lg center clearfix">
                        <h1>{{ trans('messages.testimonials_title') }}</h1>
                    </div>

                    <!-- Testimonial Slider
                    ============================================= -->
                    <div class="fslider testimonial testimonial-full nobgcolor noborder noshadow nopadding bottommargin-sm divcenter center clearfix" data-arrows="false" style="max-width: 700px">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                <div class="slide">
                                    <div class="testi-content">
                                        <p>{{ trans('messages.testimonial_1') }}</p>
                                        <div class="testi-meta">
                                            Laura
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="testi-content">
                                        <p>{{ trans('messages.testimonial_2') }}</p>
                                        <div class="testi-meta">
                                            Paola Marabini
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="testi-content">
                                        <p>{{ trans('messages.testimonial_3') }}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
                    <div class="video-overlay" style="background: rgba(0,0,0,0.7);"></div>
                </div>

            </section>

            <div id="section-contact" class="row norightmargin topmargin nobottommargin common-height">
                <div class="heading-block bottommargin-lg center clearfix">
                    <h1>{{ trans('messages.contactus') }}</h1>
                </div>

                <div id="headquarters-map" class="col-md-8 gmap hidden-xs"></div>
                <div class="col-md-4 dark" style="background-color: #333;">
                    <div style="padding: 40px;">
                        <h4 class="font-body t600 ls1">{{ trans('messages.doubts') }}</h4>

                        <div style="font-size: 15px; line-height: 1.7;">
                            <address style="line-height: 1.7;">
                                Teniente Peron 2995 Pico 1C<br>
                                Balvanera, Buenos Aires<br><br>
                                <abbr title="Phone Number"><strong>Teléfono:</strong></abbr> (+54) 11 4870500<br>
                                <abbr title="Email Address"><strong>Email:</strong></abbr> <a href="mailto:psicotango@gmail.com">psicotango@gmail.com</a>
                            </address>

                            <div class="clear topmargin-sm"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- #content end -->

    {{ include('layout/_footer', {}) }}

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript">window.psicotango.indexMapInit(); window.psicotango.indexBooksInit();</script>
</body>

</html>

