<!DOCTYPE html>
<html lang="en" style="height:auto;">

{% block head %}
<head>
    <title>{% block title %}Psicotango | Un Abrazo Sanador{% endblock %}</title>

    <!-- These 3 MUST come first for Bootstrap to work. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ff0000">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <!-- Stylesheets
	============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/vendor.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />



    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="#">
    <link rel="apple-touch-icon" sizes="72x72" href="#">
    <link rel="apple-touch-icon" sizes="114x114" href="#">

    <script>
        window.Laravel = { 'csrfToken': '{{ csrf_token() }}'};
        window.baseURL = '{{ url('/') }}';
    </script>
</head>
{% endblock %}

<body class="sticky-footer stretched">

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : '1987012354703452',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v3.0'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        {%  if LaravelLocalization.getCurrentLocale() == 'es' %}
            js.src = "https://connect.facebook.net/es_ES/sdk.js";
        {% else %}
            js.src = "https://connect.facebook.net/en_US/sdk.js";
        {% endif %}
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="application clearfix">

    <div id="home" class="page-section" style="position:absolute;top:0;left:0;width:100%;height:200px;z-index:-2;"></div>

    {{ include('layout/_header', { 'tab': tab }) }}

    {% block content %}{% endblock %}

    {{ include('layout/_footer', {}) }}

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>



{#<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_ES/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     origin="http://psicotango.local"
     page_id="1573003909658313">
</div>#}

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAO2BYvn4xyrdisvP8feA4AS_PGZFxJDp4"></script>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript">
    window.psicotango.indexBooksInit(); //window.psicotango.indexMapInit();
    jQuery(document).ready( function() {

        {% if Auth.user() is null %}
            $.magnificPopup.open({
                items: {
                    src: '#promotional'
                },
                type: 'inline'
            });
        {% endif %}
    });
</script>
</body>

</html>

