<!DOCTYPE html>
<html lang="en" style="height:auto;">

{% block head %}
    <head>
        <title>{% block title %}Psicotango | Un Abrazo Sanador{% endblock %}</title>

        <!-- These 3 MUST come first for Bootstrap to work. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ff0000">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <!-- Stylesheets
	============================================= -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/css/vendor.css" type="text/css" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />



        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/images/favicon.png">
        <link rel="apple-touch-icon" href="#">
        <link rel="apple-touch-icon" sizes="72x72" href="#">
        <link rel="apple-touch-icon" sizes="114x114" href="#">

        <script>
            window.Laravel = { 'csrfToken': '{{ csrf_token() }}', 'api_token': '{{ Auth.user().api_token }}', 'lang': '{{ LaravelLocalization.getCurrentLocale() }}' };
            window.baseURL = '{{ url('/') }}';
        </script>
    </head>
{% endblock %}

<body class="stretched">
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix application">

    <section id="slider" class="slider-parallax full-screen  error404-wrap" style="background: url(/images/san-telmo.jpg) center;">
        <div class="slider-parallax-inner">
            <div class="container vertical-middle center clearfix">
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>

    {{ include('layout/_footer', {}) }}

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/vendor.js"></script>
</body>

</html>

