{% extends 'layout/login_base.twig' %}
{% block title %}Psicotango{% endblock %}

{% block content %}
    {% if session_has('status') is not empty %}
        <div class="alert alert-success">
            {{ session_get('status') }}
        </div>
    {% endif %}

    <form class="nobottommargin dark-box" role="form" method="POST" action="{{ l10n_url_by_route('/password/email') }}/password/email">
        {{ csrf_field() }}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h3 class="dark-grey text-center">
                Actualiza tu contraseña
            </h3>

            <div class="form-group {{ errors.has('email') ? ' has-error' : '' }}">
                <label>{{ trans('messages.email') }}</label>
                <input type="text" name="email" class="form-control" id="" value="{{ old('email') }}">
                {% if errors.has('email') is not empty %}
                    <span class="help-block">{{ errors.first('email') }}</span>
                {% endif %}
            </div>

            <div class="form-group ">
                <button type="submit" class="btn btn-primary btn-raised btn-block ripple-effect">
                    Enviar
                </button>
            </div>
        </div>
    </form>

{% endblock %}